.outside{
    position: relative;
    top: -300px;
}

.next-prev_buttons_position{
    position: relative;

}
.bx-next{
    display: inline-block;
    background-image: url("../images/Next.png");
    height: 140px;
    width: 66px;
    float: right;
}

.bx-prev{
    display: inline-block;
    background-image: url("../images/Previous.png");
    height: 140px;
    width: 66px;


}